body {
    background-color: darkslategray;
}

h1 {
    color: rgb(229, 216, 200);
    text-align: center;
}

button {
    border: 1px solid black;
    border-radius: 30%;
    background-color: rgb(229, 216, 200);
    font-size: 20px;
    width: 120px;
    height: 40px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#employee-data {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(229, 216, 200);
}

#employee-data div {
    padding: 20px 0px;
}